<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application android:label="@string/app_name">
        <activity
            android:name=".chart.TestActivity"
            android:exported="false" />
                <activity
            android:name=".chart.PieChartFrag"
            android:exported="false" />
                <activity
            android:name=".chart.BarChartFrag"
            android:exported="false" />
                <activity
            android:name=".chart.BoilerLineChartFrag"
            android:exported="false" />
                <activity
            android:name=".chart.ChillerLineChartFrag"
            android:exported="false" />


        <service android:name="com.inuker.bluetooth.library.BluetoothService" />
    </application>

</manifest>